.formControl .error input,
.formControl .error textarea {
    border: 2px solid red;
}
.formControl .error span {
    color: red;
}
.formControl textarea {
    border: 2px solid red;
}
.formSummaryError {
    color: darkred;
}