*{
  box-sizing: border-box;
  font-family: Arial;
  outline: 0 !important;
}
button{
  border: none;
}
.App {
}
.app-wrapper{
  display: flex;
  flex-wrap: wrap;

}
.app-wrapper-content{
  background-color: #fff;
  flex:  0 1 80%;
}