.dialogs{
    display: flex;
    padding: 45px;
    justify-content: space-between;
}
.dialogsItems{
    display: flex;
    flex-direction: column;
}
.dialogsItems a{
    color: #262626;
    font-weight: 600;
}
.dialogsItems .active{
    color: #0D58C8;
}
.messages{
    display: flex;
    flex-direction: column;
    width: 85%;
}
