.message{
    border: 2px solid #0D58C8;
    border-radius: 5px;
    padding: 3px;
    max-width: 400px;
}
.message:nth-child(even) {
    align-self:flex-end;
}
.message:nth-child(odd) {
    align-self:flex-start;
}