.message{
    border: 2px solid #0D58C8;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
    display: flex;
    max-width: 80%;
}
.message:nth-child(even) {
    align-self:flex-end;
}
.message:nth-child(odd) {
    align-self:flex-start;
}